@charset "utf-8";
/* khmer */
@font-face {
  font-family: 'Hanuman';
  font-style: normal;
  font-weight: 400;
  src: url(/co/Resource/Home/Common/fonts/Hanuman.eot);
  src: url(/co/Resource/Home/Common/fonts/Hanuman.eot?#iefix) format('embedded-opentype'),
       url(/co/Resource/Home/Common/fonts/Hanuman.woff) format('woff'),
       url(/co/Resource/Home/Common/fonts/Hanuman.ttf) format('truetype');
}

@font-face {
  font-family: 'Hanumanb';
  font-style: normal;
  font-weight: 700;
  src: url(/co/Resource/Home/Common/fonts/Hanumanb.eot);
  src: url(/co/Resource/Home/Common/fonts/Hanumanb.eot?#iefix) format('embedded-opentype'),
       url(/co/Resource/Home/Common/fonts/Hanumanb.woff) format('woff'),
       url(/co/Resource/Home/Common/fonts/Hanumanb.ttf) format('truetype');
}
.fontKh{font-family:'Hanuman', Arial, Helvetica, sans-serif}
.chLang {font-family:arial, 黑体, 微软雅黑, 宋体, sans-serif!important;}
/* reset-stylesheet */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,time,mark,audio,video,input, button 
{
	margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent;word-break:keep-all;
} 

body {font-family: Tahoma, verdana,  Arial, sans-serif; letter-spacing:0}
select {font-family: Tahoma, verdana,  Arial, sans-serif;}
button {border:0 none;outline:0;cursor:pointer; background:none; margin:0; padding:0;vertical-align:middle; font-size:100%;font-family: Tahoma, verdana,  Arial, sans-serif, sans-serif}
button span {position:relative; left:0; top:0;vertical-align:middle}
button::-moz-focus-inner {border:0; padding:0}

a {text-decoration:none;color:#4d4d4d}
table a:hover {color:#1a91f5}
ol,ul {list-style:none;}
li,dd {padding:0; margin:0;}
input[type=text],input[type=password], textarea, select {border:1px solid #CCCCCC; padding:2px;}
input[type=password] {padding:2px}
select {padding:1px}
input[type=button] {cursor:pointer}
input[type=radio] {vertical-align:middle}
input[type=submit]:focus {outline:1;border:1px;cursor:pointer;border:0 solid rgba(81, 203, 238, 1);box-shadow: 0 0 1px rgba(81, 203, 238, 1);}
em {font-style:normal}
ins { text-decoration:none;}
del { text-decoration:line-through;}
.bgdel {background:none !important}
table {border-collapse:collapse; border-spacing:0; width:100%}
legend,caption {background:none;border:0 none; display:inline-block; line-height:0; font-size:0; overflow:hidden; text-indent:-9999px; cursor:pointer;}
hr {height:0; margin:0; padding:0; border:0}
.bdnone {border:0 none !important}
.disInB {display:inline-block}
.blind{display:none;position:absolute;font-size:0;width:0;height:0;}
/******** hidden  ********/
.h0 {height:0; overflow:hidden; position:absolute}
.hidTxt {display:inline-block; overflow:hidden; text-indent:-9999px;}
/******** float ********/
.left {float:left}
.right {float:right}
.clear {clear:both}
.aftClear:after {display:block; height:0; content:""; clear:both}
/******** vertical ********/
.vm {vertical-align:middle !important;margin-top:-2px}
.vt {vertical-align:top !important}
.rel {position: relative !important}
/******** align ********/
.tl {text-align:left !important} 
.tr {text-align:right !important}
.tc {text-align:center !important}
/******** padding ********/
.pt3 {padding-top:3px !important}
.pl40 {padding-left:40px !important}
.pb40 {padding-bottom:40px !important}
.pb50 {padding-bottom:50px !important}
.pb70 {padding-bottom:70px !important}
.pdr50{padding-right:50px !important}
/******** margin ********/
.mt5p {margin-top:-5px !important}
.mt10p {margin-top:-10px !important}
.mt20p {margin-top:-20px !important}
.mt3 {margin-top:3px; !important}
.mt5 {margin-top:5px; !important}
.mt10 {margin-top:10px !important}
.mt12 {margin-top:12px !important}
.mt15 {margin-top:15px !important}
.mt20 {margin-top:20px !important}
.mt30 {margin-top:30px !important}
.mt40 {margin-top:40px !important}
.mt50 {margin-top:50px !important}
.mt60 {margin-top:60px !important}
.mt70 {margin-top:70px !important}
.mt80 {margin-top:80px !important}
.mt100 {margin-top:100px !important}
.mt110 {margin-top:110px !important}
.mt130 {margin-top:130px !important}
.mt150 {margin-top:150px !important}
.mb5 {margin-bottom:5px}
.mb10 {margin-bottom:10px}
.mb20 {margin-bottom:20px}
.mb30 {margin-bottom:30px}
.mb40 {margin-bottom:40px !important}
.mb50 {margin-bottom:50px !important}
.mb70 {margin-bottom:70px !important}
.mb100 {margin-bottom:100px !important}
.ml0 {margin-left:0 !important}
.ml10 {margin-left:10px !important}
.ml20 {margin-left:20px !important}
.ml25 {margin-left:25px !important}
.ml30 {margin-left:30px !important}
.ml40 {margin-left:40px !important} 
.ml50 {margin-left:50px !important}
.ml60 {margin-left:60px !important}
.ml80 {margin-left:80px !important}
.ml140 {margin-left:140px}
.ml200 {margin-left:200px}
.mr10 {margin-right:10px}
.mr5 {margin-right:5px}
.mr20 {margin-right:20px !important}
.mr30 {margin-right:30px}
.mr40 {margin-right:40px}
.mr50 {margin-right:50px}
/******** width ********/
.w50 {width:50px}
.w70 {width:70px}
.w100 {width:100px !important}
.w110 {width:110px !important}
.w150 {width:150px !important}
.w180 {width:180px}
.w200 {width:200px}
.w250 {width:250px !important}
.w500 {width:500px !important}
.w535 {width:530px !important}

.wp100 {width:100%}
.wp93s9 {width:93.9%}
/******* line-height ********/ 
.lih13 {line-height:1.3}
.lih15 {line-height:1.5}
/* 10이상 clear */
input[type=text]::-ms-clear{display: none !important; }
/******** line ******/
.dsline {border-bottom:1px dashed #999999}
.inblc {display:inline-block;}





/************************************************* Dots ****************************************************************************/
.blackDots1 {background:url(/co/Resource/Home/Company/img/dots/blackDots1.gif) 0 center no-repeat; padding-left:7px}
/************************************************* Font and Btn ****************************************************************************/
/********* font size **********/
.fs10 {font-size:10px !important}
.fs11 {font-size:11px !important}
.fs12 {font-size:12px !important}
.fs14 {font-size:14px !important}
.fs15 {font-size:15px !important}
.fs16 {font-size:16px !important}
.fs18 {font-size:18px !important}
.fs20 {font-size:20px !important}
.fs25 {font-size:25px !important}
.fs35 {font-size:35px !important}
/********* btn color **********/

.btnGlay1 {background:#f0f0f0 !important; border:1px solid #dcdcdc; color:#546674; display:inline-block !important; font-weight:bold; vertical-align:middle}
.btnGlay2 {background:#dcdcdc !important; color:#546674; display:inline-block !important; font-weight:bold; vertical-align:middle}
.btnGlay3 {background:#717484 !important; color:#fff; display:inline-block !important; font-weight:bold; vertical-align:middle}
.btnGlay3:hover {color:#FFF}
.btnGlay4 {background:#3e414f; color:#FFF; display:inline-block} 
.btnGlay4:hover {color:#FFF !important}
.btnGlay5 {background:#666 !important; color:#fff; display:inline-block !important;vertical-align:middle}
.btnGlay5 span {display:block; background:url(/co/Resource/Home/Company/img/introduce/arrow_right.png) right center no-repeat;}

.btnBlack1 {background:#546674 !important; border:1px solid #546674; color:#fff; display:inline-block !important; font-weight:bold; vertical-align:middle}
.btnBlack2 {background:#546674 !important; color:#fff; display:inline-block !important; font-weight:bold; vertical-align:middle}
.btnBlack3 {background:#3e414f !important; color:#fff; display:inline-block !important; font-weight:bold; vertical-align:middle}
.btnBlack3 span {margin-right:10px; background:url(/co/Resource/Home/Company/img/dots/btnDots1.gif) right center no-repeat !important;  padding:5px 20px 5px 10px; display:block}
.btnBlack4 {background:#3e414f !important; color:#fff; display:inline-block !important;vertical-align:middle}
.btnBlack4 span {display:block; background:url(/co/Resource/Home/Company/img/introduce/arrow_right.png) right center no-repeat;}
.btnBlue3 {background:#1a91f5 !important; color:#fff; display:inline-block !important;vertical-align:middle}
.btnBlue3 span {display:block; background:url(/co/Resource/Home/Company/img/introduce/arrow_right.png) right center no-repeat;}
.btnBlue1 {background:#00b6f0 !important; color:#fff; display:inline-block !important; font-weight:bold; vertical-align:middle}
.btnBlue1:hover {color:#fff;}

.btnWrite1 {background:#fff !important; border:1px solid #CCCCCC; color:#666; display:inline-block !important; font-weight:bold; vertical-align:middle}
.btnOrange1 {background:#ec6026; color:#fff; display:inline-block !important; font-weight:bold;}
.btnOrange1:hover {color:#FFF !important}
.btnGray6 {background:#dcdcdc; color:#726f6f; display:inline-block !important; font-weight:bold;}
.btnGray6:hover {color:#726f6f !important}
.btnBlue2 {background:#2897d7; color:#fff; display:inline-block !important; font-weight:bold;}
.btnBlue2:hover {color:#FFF !important}
.btnBlack6 {background:#546674; border:1px solid #546674; color:#fff; display:inline-block !important; font-weight:bold;}
.btnBlack6:hover {color:#FFF !important}
.btnBlack7 {background:#717484; border:1px solid #546674; color:#fff; display:inline-block !important; font-weight:bold;}
.btnBlack7:hover {color:#FFF !important}
.btnBlack8 {background:#fff; border:1px solid #546674; color:#3e4150; display:inline-block !important; font-weight:bold;}
.btnBlack8:hover {color:#3e4150; !important}
.orgBac {background:#F60; color:#FFF; border:1px solid #F60}


/********* btn padding **********/
.pl2r10 {padding:2px 10px}
.pl3r10 {padding:3px 10px}
.pl5r20 {padding:5px 20px}
.pl7r20 {padding:7px 20px}
.pl10r20 {padding:10px 20px}
.pl12r20 {padding:12px 20px}
.pl12r30 {padding:12px 30px}
/********* btn bg **********/
.print {background:url(/co/Resource/Home/Company/img/icon/print1.gif) 15px center no-repeat; display:inline-block; padding-left:40px}
/********* Box rudi *********/
.r2 {border-radius:2px !important}
.r5 {border-radius:5px !important}
.r10 {border-radius:10px !important}
/******** Btn Option2 ********/
.par {position:absolute; right:0 !important; top:0}
.red {color:#F00 !important}
.black {color:#333 !important}
.black1 {color:#000 !important}
.blue {color:#00b6f0 !important}
.org {color:#F60 !important}
.skyblue {color:#5bc1eb !important}
.gray {color:#666666 !important}
.green {color:#090 !important}

/************************************************* Table ****************************************************************************/
/********** Table Style ********/
.tableStyle1 th, .tableStyle1 td  {border-bottom:1px solid #CCC; font-size:12px;  color:#999;}
.tableStyle1 th {line-height:2.5; text-align:left; padding-left:15px}
.tableStyle1 tfoot {font-size:175%}
.tableStyle1 tfoot th,
.tableStyle1 tfoot td {border-bottom:0 none}
.tableStyle1 td img {vertical-align:middle}
.tableStyle1 th.DBt {color:#000}
.tableStyle1 .DBt {font-size:81.3%;line-height:2.4;}

.tableStyle2 {border-top:1px solid #333; font-size:12px; margin:10px 0 0 !important; color:#666; line-height:1.5}
.tableStyle2 th {background:#f1f1f1; border-bottom:1px solid #c2c2c2; text-align:left; padding:5px 15px}
.tableStyle2 td {border-bottom:1px solid #dfdfdf; text-align:left; padding:5px 15px}
.tableStyle2 thead th {background:#f1f1f1; border-bottom:1px solid #c2c2c2; border-left:1px solid #c2c2c2; text-align:left; padding:7px 15px}
.tableStyle2 thead th:first-child {border-left:0 none}
.tableStyle2 tbody th {background:#f1f1f1; border-bottom:1px solid #c2c2c2; border-left:1px solid #c2c2c2; text-align:left; padding:5px 15px}
.tableStyle2 tbody th:first-child {border-left:0 none}
.tableStyle2 tbody td {border-bottom:1px solid #c2c2c2;border-left:1px solid #c2c2c2;text-align:left;padding:5px 15px;vertical-align:middle}
.tableStyle2 tbody td:first-child {border-left:0 none}
.ttTc thead th,
.ttTc tbody th,
.ttTc tbody td {text-align:center}

.tableStyle3 {border-top:1px solid #333; font-size:12px;}
.tableStyle3 th {background:#f5f5f5; color:#6f6f6f; border-bottom:1px solid #acacac; padding:10px 0}
.tableStyle3 td {border-bottom:1px solid #d3d3d3; text-align:center; vertical-align:middle; padding:5px 0; line-height:1.5}

.tableStyle4 {font-size:12px; line-height:1.5;}
.tableStyle4 thead th {margin:0; padding:0; line-height:0; vertical-align:middle}
.tableStyle4 thead th img {margin-left:-1px;}
.tableStyle4 thead td {border-bottom:1px solid #dcdcdc;}
.tableStyle4 tbody th {background:#f1f1f1 url(/co/Resource/Home/Company/img/dots/blueDots2.gif) 20px center no-repeat; color:#716f70; border-bottom:1px dashed #dadada; padding:10px 30px; text-align:left;border-left:1px solid #dcdcdc}
.tableStyle4 tbody td {background:#f9f9f9; border-bottom:1px dashed #dadada; border-right:1px solid #dcdcdc; vertical-align:middle; padding:5px 20px;}

.tableStyle5 {border-top:2px solid #3e414f; font-size:12px;}
.tableStyle5 th,
.tableStyle5 td {text-align:left; padding-left:15px}
.tableStyle5 thead th {background:#f5f5f5; color:#6f6f6f; border-bottom:1px solid #acacac;  padding:10px 15px;position:relative; }
.tableStyle5 thead td {background:#FFF; position:relative}
.tableStyle5 tbody th {padding:10px;position:relative; font-weight:normal;}
.tableStyle5 tbody td {background:#FFF; padding:20px 10px 40px;}
.tableStyle5 tbody .reTitel {background:#f5f5f5; border-bottom:1px solid #acacac; border-top:1px solid #acacac; padding:10px 20px; font-size:14px; color:#666}
.tableStyle5 tfoot th {background:#f5f5f5; color:#6f6f6f; border-top:1px solid #CCC; border-bottom:1px solid #CCC; padding:10px 15px}
.tableStyle5 tfoot td {background:#FFF; border-top:1px solid #CCC; border-bottom:1px solid #CCC;}
.prevBrd {text-align:center !important; background:#f5f5f5 url(/co/Resource/Home/Company/img/inc/listUp.gif) 27px center no-repeat !important; padding-left:30px !important}
.nextBrd {text-align:center !important; background:#f5f5f5 url(/co/Resource/Home/Company/img/inc/listDown.gif) 27px center no-repeat !important; padding-left:30px !important}

/* 2014 / 09-30 추가 */
.tableStyle6 {border-top:1px solid #3e414f; width:100%; table-layout: fixed;}
.tableStyle6 thead th{background:#f1f1f1; line-height:35px; border-bottom:1px solid #c2c2c2; font-weight: 500; font-size:13px;}
.tableStyle6 tbody tr{}
.tableStyle6 tbody th, .tableStyle6 tbody td{padding:15px 0; vertical-align: middle; border-bottom:1px solid #c2c2c2;}
.tableStyle6 tbody th{font-family:'corbel'; font-weight: normal; font-size:40px; color:#009ddd; }
.tableStyle6 tbody td{font-size:13px; color:#726f6f;}
.tableStyle6 tbody td .productName li{background: url('/co/Resource/Home/Company/img/dots/blackDots1.gif') 20px 6px no-repeat; padding-left:27px; line-height: 20px}
.tableStyle6 tbody td .allProduct {overflow: hidden; position:relative;}
.tableStyle6 tbody td .allProduct > .bx-wrapper {position: relative;margin: 0 auto 0; padding: 0; *zoom: 1; }
.tableStyle6 tbody td .allProduct > .bx-wrapper img {max-width: 100%; display: block; margin:0 auto; }
.tableStyle6 tbody td .allProduct > .bx-wrapper .bx-prev {left: 15px; background:url("/co/Resource/Home/Company/img/btn/btn_allPorductLeft.png") 0 50% no-repeat; }
.tableStyle6 tbody td .allProduct > .bx-wrapper .bx-next {right: 13px; background: url("/co/Resource/Home/Company/img/btn/btn_allPorductRight.png") right 50% no-repeat;}
.tableStyle6 tbody td .allProduct > .bx-wrapper .bx-pager.bx-default-pager a {display:none;}

/*********** Paging ************/
.pGing {font-size:81.3%; text-align:center; margin:50px 0}
.pGing li,
.pGing li a {display:inline-block; vertical-align:middle}
.pGing li a {display:block; padding:3px 6px 2px}
.pGing li .active {color:#F60}
.pGing .pgImg a {padding:0}

/******** Member ******/
.gnbTop {margin:15px 0 15px}
.gnbTop li {display:inline-block}
.gnbTop li a {display:block; padding:0 20px; text-align:right; border-left:1px solid #eee}
.gnbTop li a span {color:#069}
.gnbTop li:first-child a {border:0 none}
#nav .gnbPos {min-width:1100px;border-bottom:1px solid #546674}
#nav .gnbPart {width:1100px; margin:0 auto; text-align:right; font-size:15px;}
#nav .gnbPart h1 {text-align:left; position:absolute; margin:23px 0 0 35px}
#nav .gnbSdw {background:url(/co/Resource/Home/Company/img/inc/mainViewBg.png) 0 0 repeat-x; height:10px; position:absolute; width:100%; min-width:1100px;}
#nav .gnb2DBox {width:1100px; margin:0 auto; border-bottom:1px solid #CCC}
/************ gnb **********/
.gnbMenu {text-align:center; margin-left:210px;}
.gnbMenu:after{content:''; display:block; clear:both;}
.gnbMenu li {float:left; margin:0; padding:0;font-size:21px;}
.gnbMenu li a {display:block; font-weight:bold; text-align:left; line-height:2; padding-left:75px; padding-right:75px; padding-bottom:20px; color:#666; position:relative; }

.gnbMenu li a .gb1 {width:42%}
.gnbMenu li a .gb2 {width:32%}
.gnbMenu li a .gb3 {width:38%}
.gnbMenu li a:link {background:#FFF}
.gnbMenu li a:hover,
.gnbMenu li a.active {color:#00b6f0}
.gnbMenu li a:hover span,
.gnbMenu li a.active span {background:#00b6f0; height:5px; position:absolute; left:75px; bottom:0;}

.gnb2 {margin-top:10px; border-bottom:1px dashed #CCC}
.gnb2 ul,.gnb3 ul {display:none;}
.gnb2 li, .gnb3 li {display:inline-block; font-size:14px; color:#3e414f; padding:17px 0}
.gnb3 li {padding:15px 0;}
.gnb2 li a,
.gnb3 li a {padding-left:15px; padding-right:15px; font-weight:bold;}

.gnb2 li a.active,
.gnb2 li a:hover {background:#3e414f; color:#FFF; padding:5px 15px; border-radius:5px}
.gnb3 li a {color:#A4AAB5}
.gnb3 li a.active,
.gnb3 li a:hover {font-weight:bold;color:#3e414f; }
.gnb2DBox {overflow:hidden; height:0}
.gnb2p1 {margin-left:200px}
.gnb2p2 {margin-left:400px}
.gnb2p3 {margin-left:650px}
.gnb3Depth1 {padding-left:200px}
.gnb3Depth3 {padding-left:750px}
/************************************************* Container ****************************************************************************/
/******** container **********/
#container {width:1100px; margin:0 auto; position:relative}
/*********** Title *********/
h3.tb2Title {background:url(/co/Resource/Home/Company/img/dots/dots3.gif) 0 7px no-repeat; padding-left:25px; padding-top:3px; font-size:25px; color:#000; position:relative; font-weight:normal}
h4.tb3Title {background:url(/co/Resource/Home/Company/img/dots/blueDots1.gif) 5px center no-repeat; padding-left:15px; padding-top:3px; font-size:18px; color:#000; position:relative; font-weight:normal}
/*********** list ***********/
.pClist {font-size:13px; color:#666; margin:5px 0 0 18px}
.pClist li {background:url(/co/Resource/Home/Company/img/dots/blackDots1.gif) 0 7px no-repeat; padding-left:7px; line-height:1.5}

/************************************************* Quick and Footer ****************************************************************************/
/************ aside *************/
#aside {width:1100px; margin:0 auto; height:0; position:relative; }
#aside .sub {top:45px}
.quick {width:78px; text-align:center; position:absolute; left:1140px; top:0}
#aside .quick img {display:block}
#aside  .asBox {margin-top:3px}
#aside  .asBox li img {display:block}
#aside  .asBox li {border:1px solid #3e414f; border-bottom:0 none}
/********* footer ************/
#footer {background:#313537; margin-top:50px; padding-bottom:15px;min-width:1100px;}
#footer .copyright {width:1100px; margin:0 auto; background:url(/co/Resource/Home/Company/img/inc/footerLogo.gif) 20px 33px no-repeat}
#footer .copyLink {font-size:75%; padding-top:15px;display:inline-block;margin-left:133px;}
#footer .copyLink li {display:inline-block; }
#footer .copyLink li a {color:#FFF;border-left:1px solid #666; display:inline-block; padding:0 15px}
#footer .copyLink li a.first {border-left:none;}
#footer .ftlst {display:inline-block; vertical-align:middle; margin:0 60px -4px}
#footer .ftlst a {display:inline-block; margin-right:15px}
.copyText {margin-left:148px; font-size:75%; color:#999; line-height:1.5; margin-top:20px; padding-bottom:30px}
/*.copyText p em {color:#FFF; font-weight:bold}*/
.copyText em {color:#FFF; font-weight:bold}
.copyText p img {margin:0 2px 0 10px}
.copyText .copy {color:#777; font-size:75%; margin-top:5px}
.copyText .copy2 > a{color:#FFF;}

#footer .ftSite {display:inline-block}
#footer .ftSite li {display:inline-block; height:35px; vertical-align:bottom;}
#footer .ftSite li img {display:block; border:0;}
#footer .site {border:1px solid #333; padding:2px 30px 5px 10px; background:#FFF url(/co/Resource/Home/Company/img/icon/footerSelect.gif) 105px center no-repeat; width:130px; text-align:left; font-size:12px}
#footer .ftList {background:#eee; display:none; position:absolute; z-index:10000; width:130px; font-size:12px}
#footer .ftList li {line-height:1.5; padding:3px 0 0 0; cursor:pointer; width:128px; height:20px;}
#footer .ftList li:hover {background:#CCC}
#footer .ftList li a {padding-left:10px; display:block}
#footer .ftList li a:hover {color:#333}
#footer .ftEmail {cursor:pointer}

#footer .copyright .copyLink .utils a{height:14px;padding:0 5px;}
#footer .copyright .copyLink .utils a.pd15{padding-left:17px;}
#footer .copyright .copyLink .utils a > img{vertical-align:middle;margin-top:-3px}
/************************************************* ETC ****************************************************************************/

/********** 제품 알림창 두줄 ***********/
.palt {font-size:12px; position:absolute; z-index:100000 !important; padding-left:3px; margin-left:0; display:none; border:1px solid #666; background:#fff; line-height:1.5; padding:10px}
.palt img {position:absolute; top:-12px}
.palt span {display:inline-block; text-align:left;}
.palt span em {color:#F60}





/************************************************* POP ****************************************************************************/
/***** galleryPop ******/
.galleryPop {background:url(/co/Resource/Home/Company/img/inc/popbg.png); width:100%; position:absolute; top:0; z-index:200000}
.gallPop {background:#FFF; width:0; margin:auto; top:0}
/***** laypop ******/
.layPopWp {background:url(/co/Resource/Home/Company/img/inc/popbg.png); width:100%; position:absolute; top:0; z-index:200000}
.layPop {background:#FFF; border:3px solid #3e414f; width:0; margin:auto; position:relative; padding-top:60px}
.laypT {font-size:150%; font-weight:bold; padding-left:15px; padding-bottom:5px; margin-bottom:10px; text-align:left; margin-top:-40px}
.laypT span {color:#F60}
.laypC {margin:0}
.laypX {position:absolute; display:block; width:42px; height:42px; right:0; top:0; margin:10px}
.laypX a {background:url(/co/Resource/Home/Company/img/btn/Close.gif) 0 0 no-repeat; width:42px; height:42px; display:block;}
.ctnbody {margin:0 15px 10px}
.ctnbody h3 {font-size:25px; font-weight:bold; text-align:center; margin-bottom:5px}
.ctnbody h3 em {color:#00b6f0}
.ctnbody p {font-size:13px; color:#666; text-align:center}
/********** Detail Tab *********/
.tabMenu {width:100%; background:url(/co/Resource/Home/Company/img/inc/tabBg.gif) 0 37px repeat-x}
.tabMenu li {display:inline-block; border:0 none;}
.tabMenu li a {background:#f3f3f3; border:1px solid #e3e3e3; border-bottom:1px solid #3e414f;display:block; text-align:center; font-size:15px; padding:9px 0; color:#777777; border-radius:5px 5px 0 0}
.tabMenu li.active a {border:1px solid #3e414f; border-bottom:2px solid #FFF; background:#FFF; color:#000}
.tabMenu li a:hover {color:#000}


/********** Detail Tab - Link(김보성 추가) *********/
.tabMenuL {width:100%; background:url(/co/Resource/Home/Company/img/inc/tabBg.gif) 0 37px repeat-x}
.tabMenuL li {display:inline-block; border:0 none;}
.tabMenuL li a {background:#f3f3f3; border:1px solid #e3e3e3; border-bottom:1px solid #3e414f;display:block; text-align:center; font-size:15px; padding:9px 0; color:#a4a4a4; border-radius:5px 5px 0 0}
.tabMenuL li.active a {border:1px solid #3e414f; border-bottom:2px solid #FFF; background:#FFF; color:#000}
.tabMenuL li a:hover {color:#000}
.dVinfo {display:none; margin-bottom:50px; padding:20px 0; color:#666; font-size:13px}
.dVinfo1 {display:block}
.plr20 li a {padding-left:20px; padding-right:20px}
.plr30 li a {padding-left:30px; padding-right:30px}
.plr40 li a {padding-left:40px; padding-right:40px}

.conLine{border-top:1px solid #ccc}

/********** Detail Tab 201509 *********/
.tabMenuNo {width:100%; background:url(/co/Resource/Home/Company/img/inc/tabBg.gif) 0 37px repeat-x}
.tabMenuNo li {display:inline-block; border:0 none;}
.tabMenuNo li a {background:#f3f3f3; border:1px solid #e3e3e3; border-bottom:1px solid #3e414f;display:block; text-align:center; font-size:15px; padding:9px 40px; color:#777777; border-radius:5px 5px 0 0}
.tabMenuNo li.active a {border:1px solid #3e414f; border-bottom:2px solid #FFF; background:#FFF; color:#000}
.tabMenuNo li a:hover {color:#000}

/************************************************* SH INTRODUCE *******************************************************************/

h3.tb2TitleNb {padding-left:25px; padding-top:3px; font-size:25px; color:#000; position:relative; font-weight:normal}

.dotList {width:100%; font-size:14px; color:#777777; }
.dotList li{text-align:left; padding:7px 15px;  border-bottom:1px dashed #CCC; }
.dotList li .pb{ font-size:16px; color:#009ddd; display:inline-block; width:160px; }
.pbc{ font-size:16px; color:#009ddd; display:inline-block;}
.bor { border:solid #C00;}
.bul{ vertical-align:middle; }
.dashLine {border-bottom:1px dashed #CCC; }
.comserv {position:relative; border-bottom:1px dashed #CCC; padding-bottom:30px; margin-top:30px;}
.comserv dl{width:530px; margin-top:30px; vertical-align:middle; display:inline-block; }
.comserv dt{vertical-align:middle;}
.comserv dd{ line-height:1.5; font-size:18px; margin-top:10px;}
.comserv p{display:inline-block;}

/********* btn bg **********/
.print {background:url(/co/Resource/Home/Company/img/icon/print1.gif) 15px center no-repeat; display:inline-block; padding-left:40px}
.downFile {background:url(/co/Resource/Home/Company/img/icon/fileIcon.gif) 10px center no-repeat; display:inline-block; padding-left:30px !important}

.wbBox {margin-top:10px;}
.wbBox li {display:inline-block; width:260px; margin-right:12px; margin-top:40px;}
.wbBox ul li:first-child {margin-left:0}
.wbcon {border:1px solid #d5d5d5; display:inline-block; color:#666; word-break:normal; vertical-align:top}
.wbcon img{ width:258px; height:198px;}

.wbBox li P{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}


.pl10r35 {padding:10px 35px}
.pl10r18 {padding:10px 18px}

.rounded{background:#717484 !important; color:#fff; font-weight:bold; vertical-align:middle;border-radius:5px !important;padding:3px 10px;margin-left:5px;} 

/********* 20150708 add **********/
.pdindex {padding-left:12px; text-indent:-12px}
.pdindex8 {padding-left:8px; text-indent:-8px}
.pdindex15 {padding-left:15px; text-indent:-15px}
.pdindex18 {padding-left:18px; text-indent:-18px}
.pdindex22 {padding-left:22px; text-indent:-22px}

.outMtitle{overflow:hidden;height:250px;margin-bottom:30px}

/*********** list ***********/
.pClist {font-size:13px; color:#666; margin:5px 0 0 18px}
.pClist li {background:url(/co/Resource/Home/Company/img/dots/blackDots1.gif) 0 7px no-repeat; padding-left:7px; line-height:1.5}

.pClist2 {font-size:13px; color:#666;}
.pClist2 li {background:url(/co/Resource/Home/Company/img/dots/blackDots1.gif) 0 7px no-repeat; padding-left:7px; line-height:1.5}

.pClist02 {margin:5px 0 0}
.pClist02 li {background:url(/co/Resource/Home/Company/img/dots/blackDots1.gif) 0 12px no-repeat; padding-left:12px; line-height:1.5}