body {
  font-family: 'Noto Sans KR', sans-serif;
}
.intro {
  background-color: #efefef;
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro > p {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}
#tGdsDetail {
  position: relative;
  padding: 40px 0;
  min-height: 1000px;
}

#content {
  width: calc(100% - 250px);
  padding-left: 250px;
}

#side-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
}

#side-nav > .logo {
  display: block;
  text-align: center;
  padding: 20px 0;
  background-color: #fff;
  border-bottom: 1px solid #efefef;
}

#side-nav > ul > li > a {
  border-bottom: 1px solid #efefef;
  display: block;
  padding-left: 15px;
  height: 40px;
  line-height: 40px;
  color: #333;
}
#side-nav > ul > li > a:hover {
  color: #00b6f0;
}

.sources {
  margin: 100px auto;
  width: 750px;
}
.sources__description-list {
  margin-top: 50px;
}
.hljs {
  background: #eff0f1;
  border-radius: 5px;
}
.hljs-attribute, 
.hljs-doctag, 
.hljs-keyword, 
.hljs-meta-keyword, 
.hljs-name, 
.hljs-selector-tag {
  font-weight: 400;
  color: #0054a3;
}