body {
  font-family: 'Noto Sans KR', sans-serif;
}
.intro {
  background-color: #efefef;
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro > p {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}
#tGdsDetail {
  position: relative;
  padding: 40px 0;
  min-height: 1000px;
}

#content {
  width: calc(100% - 250px);
  padding-left: 250px;
}

#side-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 250px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
  background-color: #fff;
}

#side-nav > .logo {
  display: block;
  text-align: center;
  padding: 20px 0;
  background-color: #fff;
  border-bottom: 1px solid #efefef;
}

#side-nav > ul > li > a {
  border-bottom: 1px solid #efefef;
  display: block;
  padding-left: 15px;
  height: 40px;
  line-height: 40px;
  color: #333;
}
#side-nav > ul > li > a:hover {
  color: #00b6f0;
}

.sources {
  margin: 100px auto;
  width: 750px;
}
.sources__description-list {
  margin-top: 50px;
}
.hljs {
  background: #eff0f1;
  border-radius: 5px;
}
.hljs-attribute, 
.hljs-doctag, 
.hljs-keyword, 
.hljs-meta-keyword, 
.hljs-name, 
.hljs-selector-tag {
  font-weight: 400;
  color: #0054a3;
}

.all-menu {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 99;
  display: none;
  font-size: 34px;
}
.a11y-hidden { 
  overflow: hidden; 
  position: absolute; 
  clip: rect(0 0 0 0); /* IE 6,7 */ 
  clip: rect(0,0,0,0); 
  width: 1px; 
  height: 1px; 
  margin: -1px; 
  border: 0; 
  padding: 0; 
}

@media (max-width: 1024px) {
  .all-menu {
    display: block;
  }
  #side-nav {
    transition: all .3s;
    left: -300px;
  }
  #side-nav.is-active {
    left: 0;
  }
  #content {
    width: 100%;
    padding: 0;
  }
  .detail-description > article + article {
    margin-top: 75px;
  }
  .detail-description {
    width: 100%;
    box-sizing: border-box;
  }
  .detail-description img {
    max-width: 100%;
  }
  .product-main-picture h1 {
    font-size: 24px;
    padding: 0 15px;
  }
  .area-hashtag {
    height: 521px;
    padding: 15px 40px;
  }
  .list-hashtag > li {
    font-size: 16px;
  }
  ul.layout-inline {
    text-align: center;
  }
}